node_modules/
.git/
.github/
.idea/

.gitignore
.prettierrc
.npmigrnore
index.html
tsconfig.json
tsconfig.node.json
vite.config.ts
yarn.lock
*.log
*.tgz

build/

.storybook/

.env
.env.local
.env.development
.env.production
.DS_Store
Thumbs.db